# OLTP database
OLTP_DB_SERVER = mischa-orderline-oltp-test.database.windows.net
OLTP_DB_NAME = orderline-oltp-test
OLTP_USERNAME = [USER]
OLTP_PASSWORD = [PASS]

# Data warehouse
DW_DB_SERVER = mischa-orderline-dw-run2.database.windows.net
DW_DB_NAME = orderline-dw
DW_USERNAME = [USER]
DW_PASSWORD = [PASS]

# Prefect flows
PREFECT_LOGGING_EXTRA_LOGGERS = "orderline_dw_scripts"
PREFECT_API_URL = "http://127.0.0.1:4545/api"

# Prefect flows op Docker
PREFECT_LOGGING_EXTRA_LOGGERS = "orderline_dw_scripts"
PREFECT_API_URL = "http://host.docker.internal:4545"
