[submodule "submodules/orderline-dw-scripts"]
	path = submodules/orderline-dw-scripts
	url = https://github.com/Leids-DataLab/orderline-dw-scripts
[submodule "submodules/orderline-dw-dbt"]
	path = submodules/orderline-dw-dbt
	url = https://github.com/Leids-DataLab/orderline-dw-dbt
